{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register : : Omzi's DevLog</title>
  <link rel="stylesheet" href="{% static '' %}css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{% static '' %}fonts/jetbrains-mono.css">
  <link href="{% static '' %}css/matter.min.css" rel="stylesheet">
  <link href="{% static '' %}css/auth.css" rel="stylesheet">
</head>
<body class="bootstrap-wrapper" style="background: url('{% static '' %}images/background.jpg'); background-size: cover; background-attachment: fixed;">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12">
      <form class="authform" method="POST">
        {% csrf_token %}
        <div class="text-center">
          <img src="{% static '' %}images/logo.png" alt="Logo">
        </div>
        <p class="form-header">Sign up for an account to be able like posts & comment on them!</p>

        {% for field in form.visible_fields %}
        <label class="matter-textfield-outlined" for="{{ field.id_for_label }}">
          {{ field }}
          <span>{{ field.label }}</span>
        </label>
          {% for error in field.errors %}
            <small class="error">{{ error }}</small>
          {% endfor %}
        {% endfor %}

        <label class="matter-checkbox">
          <input type="checkbox">
          <span>I agree to the <a href="javascript:;">Terms of Service</a></span>
        </label>

        <button class="matter-button-contained" type="submit">Sign Up</button>
      </form>

      <hr>
      <div class="text-center">
        <p>Already have an account? <a href="{% url 'login' %}">Sign In</a>!</p>
        <a class="matter-button-contained home" href="{% url 'home' %}">Home</a>
      </div>
    </div>
  </div>
</body>
</html>