{% load static %}

{% if form %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set New Password : : Omzi's DevLog</title>
  <link rel="stylesheet" href="{% static '' %}css/bootstrap-grid.min.css">
  <link href="{% static '' %}css/matter.min.css" rel="stylesheet">
  <link href="{% static '' %}css/auth.css" rel="stylesheet">
</head>
<body class="bootstrap-wrapper" style="background: url('{% static '' %}images/background.jpg'); background-size: cover; background-attachment: fixed;">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12">
      <form class="authform" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-center">
          <img src="{% static '' %}images/logo.png" alt="Logo">
        </div>
        <p class="form-header">Please enter your new password twice so we can verify you typed it in correctly.</p>
        {% for field in form.visible_fields %}
        <label class="matter-textfield-outlined" for="{{ field.id_for_label }}">
          {{ field }}
          <span>{{ field.label }}</span>
        </label>
          {% for error in field.errors %}
            <small class="error">{{ error }}</small>
          {% endfor %}
        {% endfor %}

        <hr>
        <button class="matter-button-contained" type="submit">Change Password</button>
      </form>
    </div>
  </div>
</body>
</html>
{% else %}
  {% include 'partials/404.html' %}
{% endif %}