{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Sent : : Omzi's DevLog</title>
  <link rel="stylesheet" href="{% static '' %}css/bootstrap-grid.min.css">
  <link href="{% static '' %}css/matter.min.css" rel="stylesheet">
  <link href="{% static '' %}css/auth.css" rel="stylesheet">
</head>
<body class="bootstrap-wrapper" style="background: url('{% static '' %}images/background.jpg'); background-size: cover; background-attachment: fixed; overflow: hidden;">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12">
      <div class="text-center" style="margin-top: 50px;">
          <img src="{% static '' %}images/logo.png" alt="Logo">
      </div>
      <p class="form-header">You've got mail!</p>
      <p class="form-header">We’ve emailed you instructions for setting your password, if an account exists with the
          email you entered. You
          should receive them shortly.</p>
      <p class="form-header">If you don’t receive an email, please make sure you’ve 
          entered the address you registered with, and check your spam folder.</p>

      <hr>
      <div class="text-center">
        <a class="matter-button-contained home" href="{% url 'home' %}">Home</a>
      </div>
    </div>
  </div>
</body>
</html>