{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Sent : : Omzi's DevLog</title>
  <link rel="stylesheet" href="{% static '' %}css/bootstrap-grid.min.css">
  <link href="{% static '' %}css/matter.min.css" rel="stylesheet">
  <link href="{% static '' %}css/auth.css" rel="stylesheet">
</head>
<body class="bootstrap-wrapper" style="background: url('{% static '' %}images/background.jpg'); background-size: cover; background-attachment: fixed; overflow: hidden;">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12">
      <div class="text-center" style="margin-top: 50px;">
          <img src="{% static '' %}images/logo.png" alt="Logo">
      </div>
      <p class="form-header">Password reset complete</p>
      <p class="form-header">Your password has been set. You may go ahead and log in now.</p>

      <hr>
      <div class="text-center">
        <a class="matter-button-contained home" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </div>
</body>
</html>